:root{
	--header-height: 3.5rem;
	
	/* ==== Color ==== */
	--white-color: hsl(0, 0%, 100%);
	--black-color: hsl(0, 0%, 0%);
	
	/* ==== Font and typography ==== */
	--body-font: "Montserrat Alternates", sans-serif;
	--biggest-font-size: 2rem;
	--big-font-size: 1.5rem;
	--h3-font-size: 1rem;
	--normal-font-size: .938rem;
	
	/* ==== Font weight ==== */
	--font-regular: 400;
	--font-semi-bold: 600;
	--font-bold: 700;
	
	/* ==== Z index ==== */
	--z-tooltip: 10;
	--z-fixed: 100;
}




@media screen and (min-widht: 1150px) {
	:root{
		--biggest-font-size: 4rem;
		--big-font-size: 3em;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
	}
	
}